* text          eol=lf
*.serialized    -text
*.dat           -text
/.github/ export-ignore
/tests/ export-ignore
/benchmarks/ export-ignore
/composer.lock export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.scrutinizer.yml export-ignore
/phpunit.xml export-ignore
/phpstan.neon export-ignore
/changelog.md export-ignore
/Makefile export-ignore
